<html>

<head>

<title>Kunisada 24</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5" height="545">
</center>
  <tr>
    <td valign="middle" align="center" height="533" width="451">
      <p align="center"><img border="0" src="kunisada/Kunisada%20Loan%20320.jpg" alt="Sawamura Tossho I as Karigane Bunshishi " width="448" height="640"><br>
      <font FACE="Arial" size="1">The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" height="533" width="351"><font FACE="Arial"><font size="2"><b>Sawamura
      Tossho I as Karigane Bunshishi&nbsp;<br>
      <br>
      </b> 1833<br>
      </font><b><font FACE="Arial" SIZE="2"><br>
      </font></b><font FACE="Arial" SIZE="2">
      Private collection&nbsp;</font>
      <p><a href="../text320.htm"><font face="Arial" SIZE="2">For
      a more detailed description</font></a></p>
      </font><font FACE="Arial" SIZE="2">
      <p>&nbsp;</p>
      </font>
      <p></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%" height="88">
    <tr>
      <td width="20%" height="60">
        <p align="right"><br>
        <a href="kun379.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td height="60">
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font></td>
      <td width="20%" height="60">
        <p align="left"><br>
        <a href="kun171.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%" height="20"></td>
      <td height="20">
        <p align="center">24 of 99</td>
      <td width="20%" height="20"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
