<html>

<head>

<title>Kunisada 15</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="665" cellpadding="5" height="545">
</center>
  <tr>
    <td valign="middle" align="center" height="533" width="544">
      <p align="center"><img border="0" src="kunisada/Kunisada%20Loan%20406.jpg" alt="Segawa Kikunojo V as Agemaki " width="538" height="480"><br>
      <font FACE="Arial" size="1">The Fitzwilliam Museum&nbsp;</font></p>
    </td>
    <center>

    <td valign="top" height="533" width="91"><b><font face="Arial" size="2"><a href="..//exhibition/group-7">Segawa
      Kikunojo V</a> as Agemaki in <i><a href="../Group5.htm">Sukeroku yukari no Edo zakura</a></i> 
      (Sukeroku's
      affinity for the cherry blossoms of Edo) performed at the Tamagawa Theatre
      in 1819</font></b><font FACE="Arial" SIZE="2">
      <p>Private collection&nbsp;</p>
      </font>
      <p><font size="2" face="Arial">
      <br>
      <a href="/context/textF">For a more detailed description</a></font></p>
    </td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kun405.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font></td>
      <td width="20%">
        <p align="left"><br>
        <a href="kun228.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">15 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
