<html>

<head>

<title>Kunisada 17</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="567" cellpadding="5" height="482">
</center>
  <tr>
    <td valign="middle" align="center" height="470" width="434">
      <p align="center"><img border="0" src="kunisada/Kunisada%20Loan%20572.jpg" alt="Arashi Tokusaburo I as Yakko Yatakei" width="431" height="640"><br>
      <font FACE="Arial" size="1">The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" height="470" width="103"><b><font FACE="Arial"><font size="2" face="Arial">Arashi
      Tokusaburo I as Yakko Yatakei in <i>Saruwaka hisago no gumbai</i> (Saruwaka's
      gourd-crested battle fan) performed at the Nakamura Theatre in 11/1820</font></font></b>
      <p><font size="2" face="Arial">Private collection&nbsp;</font></p>
      <p><font size="2" face="Arial"><a href="../text572.htm">From an untitled
      set of half-length portraits on a pink ground, linked to the same
      performance</a></font></p>
    </td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kun228.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font></td>
      <td width="20%">
        <p align="left"><br>
        <a href="kun319.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">17 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
