<html>

<head>

<title>Kunisada 2</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#808080" alink="#FF0000">

<div align="center">
  <center>
  <table border="0" width="100%" cellpadding="0" cellspacing="4" height="455">
    <tr>
      <td width="100%" height="3" align="center"><img border="0" src="kunisada/Kunisada%20Loan%20556.jpg" alt="Ichikawa Danjuro VII as Fuwa Banzaemon (right), Onoe Kikugoro III as Nagoya Sanza (centre) and Segawa Kikunojo V as the courtesan Katsuragi " width="640" height="302"><font FACE="Arial" size="1"><br>
        The Fitzwilliam Museum&nbsp;</font></td>
    </tr>
    <tr>
      <td width="100%" height="120">
        <p align="center"><b><font FACE="Arial" SIZE="2"><a href="/context/textE">Ichikawa
        Danjuro VII </a>as Fuwa Banzaemon (right), <a href="/exhibition/group-16-part-1">Onoe
        Kikugoro III</a>
        as Nagoya Sanza (centre)&nbsp;<br>
 and <a href="..//exhibition/group-7">Segawa
        Kikunojo V </a>as the courtesan Katsuragi (left) in </font><i><font FACE="Arial" SIZE="2">Ukiyo-zuka
        hiyoku no inazuma</font></i><font FACE="Arial" SIZE="2"> &nbsp;<br>
        (Ukiyo's sword
        hilt, a double grave mound and the mark of the lightning bolt)&nbsp;<br>
 performed
        at the Ichimura theatre in 03/1823<br>
        </font></b><font FACE="Arial" SIZE="2"><br>
        Private collection<br>
        <br>
        </font><font SIZE="2" face="Arial"><a href="../text556a.htm">For a more
        detailed description</a></font></p>
      </td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%" height="87">
    <tr>
      <td width="20%" height="58">
        <p align="right"><br>
        <a href="kun291.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td height="58">
        <p align="center"><a href="../texthomepage.htm"><font face="Arial" size="2">Return
        to Home Page</font></a></td>
      <td width="20%" height="58">
        <p align="left"><br>
        <a href="kun272.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%" height="21"></td>
      <td height="21">
        <p align="center">2 of 99</td>
      <td width="20%" height="21"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
