<html>

<head>

<title>Kunisada 48</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.71-1999.jpg" alt="Ri" width="457" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial" size="2">Ri</font></i><font face="Arial" size="2">
      (Ri)</font></b><font FACE="Arial">
      <p><font size="2">06/1856</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund</p>
      </font>
      <font FACE="Arial" SIZE="2">
      <p>A posthumous portrait of Onoe Baiju (a name used by <a href="/exhibition/group-16-part-1">Onoe
      Kikugoro III </a>in retirement and to sign poems) as<a href="kunp72.htm">
      Rokusaburo the carpenter</a> with a giant carp, from the series <i>Kiyogaki
      nanatsu iroha</i> (Neatly Written Syllabary in the Seven Styles).&nbsp;<font FACE="Arial"><br>
      <br>
      <br>
      <a href="../textp71.htm">For a more detailed description.</a></font></p>
      </font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp70.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp72.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">48 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
