<html>

<head>

<title>Kunisada 62</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.85-1999.jpg" alt="Nakamura Shikan IV as the guard Matsuo-maru in Sugawara denju tenarai kagami (Sugawara and the secrets of calligraphy) performed at the Ichimura theatre from 17/10/1861" width="447" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum&nbsp;</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><font face="Arial" size="2"><a href="/exhibition/group-21">Nakamura Shikan
      IV </a> as the guard <a href="kun148.htm">Matsuo-maru</a> in <i>Sugawara denju tenarai kagami</i>
      <a href="/exhibition/group-3">
      (Sugawara and the secrets of calligraphy)</a> performed at the Ichimura
      theatre from 17/10/1861</font></b><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.<br>
      <br>
      Published in 11/1861as part of the series <i>Tosei jihitsu kagami</i> 
      <a href="kun113.htm"> (Mirror of contemporary autographs)</a>,&nbsp; Kunisada designed
      <a href="/exhibition/group-3"> several prints</a> in
      connection with this performance.
      <br>
      <br>
      <br>
      <a href="../textp85.htm">For a more detailed description</a>
      </font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp84.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kun113.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">62 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
