<html>

<head>

<title>Kunisada</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5" height="603">
</center>
  <tr>
    <td valign="middle" align="center" width="460" height="591">
      <p align="center">
      <img border="0" src="kunisada/Part%20III/P.477-1937.jpg" alt="Bando Mitsugoro III as Shigetada " width="480" height="565"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <font size="2" face="Arial"><b>Bando Mitsugoro III as Shigetada</b></font></font></p>
    </td>
    <center>

  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp476htm.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp3476477.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center"></td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
