<html>

<head>

<title>Kunisada 94</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><map name="FPMap0">
      <area href="kunp489detail.htm" shape="rect" coords="45, 205, 147, 330"></map><img border="0" src="kunisada/Part%20III/P.489-1937.jpg" alt="Flower" usemap="#FPMap0" width="480" height="550"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="161">
      <font FACE="Arial"><b><a href="../Group17.htm">Flower</a><i><br>
      <br>
      </i></b><font size="2"><i>c.</i>1823-5<br>
      <br>
      </font><font FACE="Arial" SIZE="2"><br>
      Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937&nbsp;</font>
      <p><font size="2">This is the 'Flower' print from a series of
      surimono titled <i>Kacho-fugetsu</i> (Flower and bird, wind and
      moon).</font><font face="Arial" size="1"><br>
      <br>
      <font FACE="Arial" SIZE="2"><a href="../text489.htm">For a more detailed
      description</a></font></font></font></p>
    </td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp494.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp487.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">94 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
<p>&nbsp;</p>
</body>
</html>
