<html>

<head>

<title>Kunisada 33</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#808080" alink="#0000FF">

<div align="center">
  <center>
  <table border="0" width="100%" cellpadding="0" cellspacing="4" height="383">
    <tr>
      <td width="100%" height="24" align="center"><img border="0" src="kunisada/P.55-1999.jpg" alt="The village of eight bridges at Okazaki (Okazaki Yatsuhashi-mura) 1838" width="640" height="315"><font FACE="Arial" size="1"><br>
        The Fitzwilliam Museum&nbsp;&nbsp;</font></td>
    </tr>
    <tr>
      <td width="100%" height="27">
        <p align="center"><font face="Arial" size="2"><b>
        The village of eight bridges at Okazaki (<i>Okazaki Yatsuhashi-mura</i>)&nbsp;<br>
        <br>
        </b>
        1838<br>
        <br>
        Given by the Friends of the Fitzwilliam with the aid of the MGC Purchase
        Grant Fund and the National Art Collections Fund.<br>
        <br>
        </font><font FACE="Arial" SIZE="2"><a href="../textp55.htm">For a more
        detailed description</a></font></p>
      </td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kun206.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp57.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">33 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
