<html>

<head>

<title>Kunisada 36</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.59-1999.jpg" width="474" height="640" alt="Shokoku Kiyomori (First Minister [Taira no] Kiyomori)"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial" size="2">Shokoku
      Kiyomori</font></i><font face="Arial" size="2"> (First Minister [Taira no]
      Kiyomori)</font></b><font FACE="Arial">
      <p><font size="2">02/1852</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.</p>
      </font><font FACE="Arial">
      <p><font size="2">One of a series of memorial portraits (<i><a href="kun214.htm">shini-e</a></i>)<i>
      </i>of <a href="../Group20.htm">Nakamura Utaemon IV</a> published soon after his death in 02/1852.<br>
      <br>
      <br>
      <a href="../textP59.htm">
      <br>
      <font FACE="Arial" SIZE="2">For a more detailed description</font></a></font></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp58.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp60.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">36 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
