<html>

<head>

<title>Kunisada 55</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="548" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.507-1937.jpg" alt="Ichikawa Danjuro VII as Mongaku (bottom) and Ichikawa Danjuro V as Fudo Myo-o (top)" width="294" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="109">
      <font FACE="Arial"><font size="2"><b><a href="../Group8pt3.htm">Ichikawa Danjuro VII
      </a> as Mongaku
      (bottom) and Ichikawa Danjuro V as Fudo Myo-o
      (top)<br>
      <br>
      &nbsp;</b><i>c.</i>1832<br>
      <br>
      <br>
      Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937&nbsp;</font><br>
      <br>
      <br>
      </font>
      <p><font FACE="Arial" SIZE="2"><a href="../text507.htm">For a more
      detailed description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp508.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a>
        </font></td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunpt36162.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">89 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
<p>&nbsp;</p>
</body>
</html>
