<html>

<head>

<title>Kunisada 53</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#808080" alink="#0000FF">

<div align="center">
  <center>
  <table border="0" width="100%" cellpadding="0" cellspacing="4" height="438">
    <tr>
      <td width="100%" height="24" align="center"><img border="0" src="kunisada/P.76-1999.jpg" width="640" height="315" alt="Mitate Sangoku-shi bairin ni asondeshuen o tanoshimu zu (Comparison with 'Romance of the Three Kingdoms': Picture of enjoying a banquet in the plum orchard)"><font FACE="Arial" size="1"><br>
        The Fitzwilliam Museum</font></td>
    </tr>
    <tr>
      <td width="100%" height="82">
        <p align="center"><font face="Arial"><b><font size="2">Mitate
        Sangoku-shi bairin ni asondeshuen o tanoshimu zu </font></b><font face="Arial" size="2"><b>(Comparison
        with 'Romance of the Three Kingdoms': Picture of enjoying a banquet in
        the plum orchard)&nbsp; </b></font><font size="2">01/1859<br>
        <br>
        Given by the Friends of the Fitzwilliam with the aid of the MGC
        Purchase Grant Fund and the National Art Collections Fund.<br>
        <br>
        A triptych of the Kabuki actors <a href="/exhibition/group-21"> Nakamura Fukusuke I</a> (right), Ichikawa
        Ichizo III (centre) and <a href="/exhibition/group-18"> Kawarazaki Gonjuro I</a> (left),
        enjoying a picnic in a plum orchard. <a href="../Group15.htm"> The print alludes to the legendary
        scene in which the three heroes of the Chinese kingdom of Shu </a> (Guan Yu,
        Liu Bei and Zhang Fei) exchanged oaths of brotherhood while drinking
        wine in a peach orchard.<br>
        <br>
        <font FACE="Arial" SIZE="2"><a href="../textp76.htm">For a more detailed
        description</a></font>
        </font></font></p>
      </td>
    </tr>
  </table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp75.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp77.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">53 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
