<html>

<head>

<title>Kunisada 57</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.80-1999.jpg" alt="Onoe Baiko (Jitsukawa Enjaku I) as Tsuchiya Jiemon in Koi-bikyaku Yamato orai, performed at the Nakamura theatre from 09/03/1860" width="448" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><font FACE="Arial"><font size="2">Onoe Baiko
      (Jitsukawa Enjaku I) as Tsuchiya Jiemon in <i>Koi-bikyaku Yamato orai</i>,
      performed at the Nakamura theatre from 09/03/1860</font></font></b><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.</p>
      </font><font FACE="Arial">
      <p><font size="2"><font face="Arial" size="2">From the series <i>Imayo
      oshi-e kagami </i>(Up-to-date padded pictures in mirrors). Kunisada
      designed several <a href="/exhibition/group-11"> series of portraits of actors reflected in mirrors.</a></font></font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>&nbsp;</p>
      </font><font FACE="Arial" SIZE="2"><a href="../textp80.htm">For a more
      detailed description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp79.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp81.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">57 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
