<html>

<head>

<title>Kunisada 86</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.495-1937.jpg" alt="Iwai Kumesaburo II in the role of a shirabyoshi dancer" width="480" height="561"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="161">
      <font FACE="Arial"><b><font size="2"><a href="/exhibition/group-19">Iwai Kumesaburo II</a> in the role
      of a <i>shirabyoshi</i> dancer<br>
      </font></b><font size="2"> <br>
      &nbsp; </font></font><font size="2" face="Arial"><i>c.</i>1830-2<br>
      <br>
      <br>
      Given to the Fitzwilliam Museum by E. Evelyn Barron
      in 1937&nbsp;</font><br>
      <br>
      <br>
      <br>
      <font FACE="Arial" SIZE="2"><a href="../text495.htm">For a more detailed
      description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp490.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a>
        </font></td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp512.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">86 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
<p>&nbsp;</p>
</body>
</html>
