<html>

<head>

<title>Kunisada 50</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="561" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><map name="FPMap0">
      <area href="kunp73coldetail.htm" coords="225, 365, 337, 447" shape="rect">
      <area href="kunp73colllum.htm" coords="63, 62, 107, 229" shape="rect">
      </map><img border="0" src="kunisada/P.73-1999.jpg" usemap="#FPMap0" alt="Hana-no-en no bansho Katsuragi (Flower Banquet, Evening Bell: Katsuragi)" width="434" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="118"><b><i><font face="Arial" size="2">Hana-no-en no
      bansho Katsuragi</font></i><font face="Arial" size="2"> (Flower
      Banquet, Evening Bell: Katsuragi)</font></b><font FACE="Arial">
      <p><font size="2">08/1858</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.<br>
      <br>
      </p>
      </font><font FACE="Arial" SIZE="2">
      <p><a href="../textp73.htm">For a more detailed description</a></p>
      <p>&nbsp;</font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp72.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp74.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">50 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
