<html>

<head>

<title>Kunisada 43</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.66-1999.jpg" alt="Arajishi Otokonosuke Niki Danjo Ne (Arajishi Otokonosuke and Nikki Danjo: Rat)" width="428" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial"><font size="2">Arajishi
      Otokonosuke Niki Danjo Ne</font></font></i><font size="2" face="Arial">
      (Arajishi Otokonosuke and Nikki Danjo: Rat)</font></b><font FACE="Arial">
      <p><font size="2" face="Arial">10/1852</font></p>
      </font>
      <p><font size="2" face="Arial">Given by the Friends of the Fitzwilliam
      with the aid of the MGC Purchase Grant Fund and the National Art
      Collections Fund.</font></p>
      <p><font face="Arial" size="2">Portrait of <a href="../Group12.htm">Ichikawa&nbsp;
      Danjuro VIII </a> as Arajishi Otokonosuke with an
      inset portrait of Matsumoto Koshiro V as Nikki Danjo in <i>Date
      kurabe Okuni Kabuki</i> (A competition in ostentation: Okuni's Kabuki),
      from the series <i>Nazorae eto-awase</i> (Allusions to the Zodiac Signs).</font></p>
      <font FACE="Arial" SIZE="2">
      <p><a href="../textp66.htm">For a more detailed description</a></p>
      </font>&nbsp;
      <p>&nbsp;</p>
    </td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp65.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp67.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">43 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
