<html>

<head>

<title>Kunisada 52</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="583" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.75-1999.jpg" alt="Karigane Bunshichi (Karigane Bunshichi)" width="445" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="140"><b><i><font face="Arial" size="2">Karigane
      Bunshichi</font></i><font face="Arial" size="2"> (Karigane<i> </i>Bunshichi)</font></b><font FACE="Arial">
      <p><font size="2">10/1858</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.</p>
      </font><font FACE="Arial">
      <p><font size="2">A portrait of Katoaka Nizaemon VIII as <a href="kun320.htm"> Karigane
      Bunshichi</a>,
      from the series 'Five Chivalrous Men and Women' (<i>Gonin danjo no uchi</i>),
      juxtaposed with an inset portrait of Ichikawa Dannosuke V as Magebo
      no Ocho.</font></p>
      <p><font size="2">&nbsp;</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p><a href="../textp75.htm">For a more detailed description</a></p>
      </font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp74.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp76.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">52 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
