<html>

<head>

<title>Kunisada 78 </title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.475&amp;P.474-1937.jpg" alt="Ichikawa Danjuro VII as Fuwa Banzaemon (right) and Onoe Kikugoro III as Nagoya Sanza in Sato no haru meibutsu amigasa (Famous sedge hats during spring in Yoshiwara) performed at the Kawarazaki theatre in 01/1827" width="640" height="361"><br>
      <font FACE="Arial" size="1">The Fitzwilliam Museum</font></p>
    </td>
    <center>

  </tr>
</table>

<div align="center">
  <center>
<table border="0" width="94%" cellpadding="0" cellspacing="4" height="97">
  <tr>
    <td width="100%" height="1"><font FACE="Arial" SIZE="2">
      <p align="center"><font FACE="Arial"><b><font size="2"><a href="../Group8pt3.htm">Ichikawa Danjuro VII</a> as
      Fuwa Banzaemon (right) and <a href="..//exhibition/group-16-part-3"> Onoe Kikugoro III</a> as Nagoya Sanza<br>
      &nbsp;in <i>Sato
      no haru meibutsu amigasa</i> (Famous sedge hats during spring in Yoshiwara)&nbsp;<br>
      performed at the Kawarazaki theatre in 01/1827<br>
      <br>
      </font></b></font>Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937<br>
      <br>
      <a href="../text474475t.htm">For a more detailed description</a></font></td>
  </tr>
</table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%" align="center">
        <p align="right"><br>
        <a href="kunp3476477.htm">
        <img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td align="center">
      <font face="Arial" size="2"><a href="../texthomepage.htm">Return to Home
      Page</a></font>
      </td>
      <td width="20%" align="center">
        <p align="left"><br>
        <a href="kunp514515.htm">
        <img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">78 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
