<html>

<head>

<title>Kunisada 83</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><br>
      <img border="0" src="kunisada/Part%20III/P.478&amp;P.479-1937.jpg" alt="noe Kikugoro III and Iwai Kumesaburo II in the roles of lovers" width="640" height="373"><br>
      <font FACE="Arial" size="1">The Fitzwilliam Museum</font></p>
    </td>
    <center>

  </tr>
</table>

<table border="0" width="100%" cellpadding="0" cellspacing="4" height="79">
  <tr>
    <td width="100%" height="1">
      <p align="center"><b><font size="2" face="Arial"><a href="..//exhibition/group-16-part-3">Onoe
      Kikugoro III</a>  (right) and <a href="/exhibition/group-19"> Iwai Kumesaburo II</a> 
      (left) in the roles of lovers</font></b><i>
      <p align="center"><font face="Arial" size="2">c.</font></i><font face="Arial" size="2">1827-30</font></p>
      <font FACE="Arial" SIZE="2">
      <p align="center">Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937</p>
      </font><font FACE="Arial">
      <p align="center"><font FACE="Arial" SIZE="2"><a href="../text478479.htm">For a more
      detailed description</a></font></font></td>
  </tr>
</table>
  <div align="center">
    <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp505.htm">
        <img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp502501.htm">
        <img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">83 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
    </center>
  </div>
</body>
</html>
