<html>

<head>

<title>Kunisada 99</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.504-1937.jpg" alt="Three heroes of the kingdom of Shu" width="480" height="551"></p>
      <p align="center"><font FACE="Arial" size="1">The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="161">
      <p><b><font FACE="Arial" size="2"><a href="../Group9.htm">Three heroes of the kingdom of Shu</a></font></b></p>
      <p><font face="Arial" size="2"><i>c.</i>1825<br>
      <br>
      Given to the Fitzwilliam Museum by E.
      Evelyn Barron in 1937&nbsp;</font></p>
      <font FACE="Arial">
      <p>&nbsp;</p>
      <p><b></b></font><font FACE="Arial"></font><font FACE="Arial" SIZE="2"><a href="../text504t.htm">For
      a more detailed description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp483.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a>
        </font></td>
      <td width="20%">
        <p align="left"><br>
      </td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">99 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
<p>&nbsp;</p>
</body>
</html>
