<html>

<head>

<title>Kunisada 47</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.70-1999.jpg" alt="Sendo Matsuemon Shodoya (Matsuemon the Boatman: Shokintei)" width="451" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial" size="2">Sendo
      Matsuemon Shodoya</font></i><font face="Arial" size="2"> (Matsuemon
      the Boatman: Shokintei)</font></b><font FACE="Arial">
      <p><font size="2">01/1853</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.</p>
      </font><font FACE="Arial">
      <p><font size="2">Memorial portrait by Kunisada of <a href="../Group20.htm"> Nakamura Utaemon IV&nbsp;<font FACE="Arial" SIZE="2"><a href="../textp69.htm"><br>
      <br>
      <br>
      <br>
      </a></font>
      </a>
      </font><font FACE="Arial" SIZE="2"><a href="../textP70.htm">For a more
      detailed description</a></font></p>
      </font><font FACE="Arial" SIZE="2">
      </font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp69.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp71.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">47 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
