<html>

<head>

<title>Kunisada 95</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.487-1937.jpg" width="640" height="470"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

  </tr>
</table>

<div align="center">
  <center>
<table border="0" width="100%" cellpadding="0" cellspacing="4" height="115">
  <tr>
    <td width="100%" height="1">
      <p align="center"><b><font face="Arial" size="2"><a href="../Group17.htm">Two geisha
      playing the <i>shamisen</i> and <i>koto</i></a> <i><br>
      &nbsp;</i></font></b><font face="Arial" size="2"><i>c.</i>1825<br>
      <br>
      Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937&nbsp;<br>
      <br>
      <a href="../text487.htm">For a more detailed description</a></font></p>
    </td>
  </tr>
</table>
  </center>
</div>
<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp489.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" size="2"><a href="../texthomepage.htm">Return
        to Home Page</a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunpt360.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">95 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
