<html>

<head>

<title>Kunisada 41</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.64-1999.jpg" alt="Takamiya Taga Taisha Sasaki Genta Zaemon (Takamiya, Taga Great Shrine: Sasaki Genta Zaemon)" width="465" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial" size="2">Takamiya Taga
      Taisha Sasaki Genta Zaemon </font></i><font face="Arial" size="2">(Takamiya,
      Taga Great Shrine: Sasaki Genta Zaemon)</font></b><font FACE="Arial">
      <p><font size="2">11/1852</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.<br>
      <br>
      <br>
      Portrait of Matsumoto Koshiro V as
      Sasaki Genta Zaemon, with a view of Taga Great Shrine on the <a href="../Group22.htm"> Kiso Highway</a>
      in the background, from the series <i>Kiso rokuju-kyu tsugi </i>(Sixty-nine
      Kiso Stations).</p>
      </font>
      <p><font FACE="Arial" SIZE="2"><a href="../textp64.htm">For a more
      detailed description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp63.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp65.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">41 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
