<html>

<head>

<title>Kunisada 46</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF">


<table border="0" cellspacing="1" width="600" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="464">
      <p align="center"><img border="0" src="kunisada/P.69-1999.jpg" alt="Dainagon Yorimoto, Kiichi Hogen (Dainagon Yorimoto, Kiichi Hogen)" width="450" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="157"><b><i><font face="Arial" size="2">Dainagon
      Yorimoto, Kiichi Hogen</font></i><font face="Arial" size="2"> (Dainagon
      Yorimoto, Kiichi Hogen)</font></b><font FACE="Arial">
      <p><font size="2">11/1852</font></p>
      </font><font FACE="Arial" SIZE="2">
      <p>Given by the Friends of the Fitzwilliam with the aid of the MGC
      Purchase Grant Fund and the National Art Collections Fund.</p>
      </font><font FACE="Arial">
      <p>&nbsp;</p>
      </font><font FACE="Arial" SIZE="2">
      <p>Portrait of Ichikawa Ebizo V (formerly <a href="..//exhibition/group-8-part-1">Danjuro&nbsp;VII</a>) as Dainagon Yorimoto, juxtaposed with a poem
      by Kiichi Hogen, from the series <i>Mitate sanju-rokkasen no
      uchi</i> (Comparisons with the Thirty-six Immortals of Poetry).</p>
      <p><a href="../textp69.htm">For a more detailed description</a></font></td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp68.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a></font>
      </td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp70.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">46 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
</body>
</html>
