<html>

<head>

<title>Kunisada 87</title>
</head>

<body background="../backgrounds/back/backe4.gif" link="#000080" vlink="#000080" alink="#0000FF" bgproperties="fixed">


<table border="0" cellspacing="1" width="544" cellpadding="5">
</center>
  <tr>
    <td valign="middle" align="center" width="460">
      <p align="center"><img border="0" src="kunisada/Part%20III/P.512-1937.jpg" alt="Ichikawa Danjuro VII as Kan Shojo (top) and Segawa Kikunojo V as Umeomaru (bottom" width="290" height="640"><font FACE="Arial" size="1"><br>
      The Fitzwilliam Museum</font></p>
    </td>
    <center>

    <td valign="top" width="105">
      <font size="2">
      <b><a href="../Group8pt3.htm">I<font face="Arial">chikawa Danjuro VII</font></a> <font face="Arial"> as Kan
      Shojo (top) and <a href="..//exhibition/group-7">Segawa Kikunojo V </a>as Umeomaru (bottom)
      in <i>Sugawara denju tenarai kagami</i>  <font color="#000080">(</font><a href="/exhibition/group-3">Sugawara and the secrets of
      calligraphy)</a> performed at the Kawarazaki theatre in 09/1832<br>
      <br>
      </font>
      </b>
      <font face="Arial">
      Given to the Fitzwilliam Museum by E. Evelyn Barron in 1937&nbsp;</font></font>
      <p><font SIZE="2"><a href="../text512.htm">For a more
      detailed description</a></font></p>
      <p>&nbsp;</td>
  </tr>
</table>

<div align="center">
  <center>
  <table border="0" cellspacing="1" width="75%">
    <tr>
      <td width="20%">
        <p align="right"><br>
        <a href="kunp495.htm"><img border="0" src="../backgrounds/back/backward.gif" width="33" height="39"></a></td>
      <td>
        <p align="center"><font face="Arial" color="#808080"><a href="../texthomepage.htm"><font size="2">Return
        to Home Page</font></a>
        </font></td>
      <td width="20%">
        <p align="left"><br>
        <a href="kunp508.htm"><img border="0" src="../backgrounds/back/forward.gif" width="33" height="39"></a></td>
    </tr>
    <tr>
      <td width="20%"></td>
      <td>
        <p align="center">87 of 99</td>
      <td width="20%"></td>
    </tr>
  </table>
  </center>
</div>
<p>&nbsp;</p>
</body>
</html>
